* {
    margin: 0;
    padding: 0;
}

#header {
  text-align: center;
  position: fixed;
  padding: 15px;
  z-index: 999999;
  background-image: url(images/starbg.jpeg);
  width: 100%;
  background-size: cover;
  display: inline-block;
  clear: both;
  top: 0;
  height: 110px;

}
h1 {
  font-size: 60px;
  color: black;
}
li {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
    padding: 5px;
    background-color: #f1e4f6;
}
a {
  color: black
}
/* welcome section */
body {
  margin-top: 110px;
  background-color: #f1e4f6;
  z-index: 99999;
}

#welcome {
  position: relative;
}
/* welcome text */
h2 {
  font-size: 50px;
  color: black;
  margin-bottom: 5px;
}
h3 {
  margin-bottom: 10px;
}
h4 {
  /* can only do z-index if position is absolute */
  z-index: 99999999;
}
.star-gif {
  background-image: url("images/star.gif");
  height: 200px;
  width: 200px;
  background-size: contain;
  position: fixed;
  top: 20px;
  right: -10px;
  z-index: 9999999;
  background-repeat: no-repeat;
}
.star-icon {
  background-image: url("images/star1.png");
  height: 120px;
  width: 120px;
  background-size: contain;
  position: absolute;
  top: 85px;
  left: 120px;
  z-index: 9999;
  background-repeat: no-repeat;
  transform: rotate(-20deg);
}
.flower-icon {
  background-image: url("images/flower1.png");
  height: 200px;
  width: 200px;
  background-size: contain;
  position: absolute;
  top: 620px;
  right: 120px;
  z-index: 9;
  background-repeat: no-repeat;
  transform: rotate(20deg);
}
/* welcome Flexbox */
.welcome-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.welcome-flex img {
    margin: 100px 50px 60px 140px;
    width: 100%;
    max-width: 350px;
    height: auto;
}
.welcome-text-flex {
    margin: 50px 140px 50px 80px;
}

/* recent collections */
#headings h4 {
  margin-left: 80px;
  margin-top: 10px;
  font-size: 30px;
}
.recent h5 {
  margin-top: 40px;
  margin-left: 210px;
  margin-bottom: 10px;
  font-size: 15px;
}
.collection-grid {
  display: flex;
  height: 600px;
  max-width: 1050px;
  margin: 0 auto;
}
.collection-grid .big {
  flex: 1;
  object-fit: cover;
}
.small-stack {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.small-stack img {
  height: 200px;
  width: 309px;
  object-fit: cover;
}
.small-stack .vertical {
  height: 400px;
  width: 309px;
  object-fit: contain;
}

.favorites h4 {
  margin-left: 80px;
  font-size: 30px;
  margin-top: 100px;
} 
.scroll-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  margin: 30px;
}
.scroll-row img {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
}
.footer {
  color:rgb(128, 108, 139);
  margin-left: 80px;
  padding: 40px 20px;
  text-transform: uppercase;
}


.bonbon-regular {
  font-family: "Bonbon", cursive;
  font-weight: 400;
  font-style: normal;
}

.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

